/*CEditor*/
.CommunityEditor{
    border: 1px solid gray;
    text-align: center;
    padding: 20px;
}

.CommunityEditor span{
    padding-right: 20px;
}

.CommunityEditor input, textarea{
    margin-bottom: 20px;
    width: 500px;
    padding: 10px;
}

.CommunityEditor textarea{
    height: 150px;
}

.CommunityEditor select{
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

.CommunityEditor button{
    width: 500px;
    padding: 10px;
    cursor: pointer;
}

/* Ccomment */

.DiaryList{
    border: 1px solid gray;
    padding: 20px;
    margin-top: 20px;
}

.DiaryList h2 {
    text-align: center;
}

/* CItem */

.DiaryItem{
    background-color: rgb(240,240,240);
    margin-bottom: 10px;
    padding: 20px;
}


.DiaryItem .info{
    border-bottom: 10x solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.DiaryItem .date{
    color:gray;
}

.DiaryItem .content{
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}

/*CList*/
.notice{
    width:1280px;
    margin:0 auto;

}
.notice .title{
    font-size: 16px;
    font-weight:500;
    margin-bottom:20px;
}

.notice .title .moreBtn{
    float:right;
    font-size: 14px;
    font-weight:400;
}

.notice .title .moreBtn img{
    width:9px;
    height:9px;
}

.notice .noticeList .listItem{

    border-radius: 15px;
    height: 110px;
    padding:11px 0;
    font-size:14px;
    color:#777777;
    display:flex;
    justify-content: space-between;
    cursor:pointer;
}

.notice .noticeList{
    width: 1280px;
}

.listItem{
    position:relative;
}

.noticeList tr{
    display: flex;
    justify-content:space-between;
    height: 50px;
    margin-bottom: 5px;
    color:white
}

.cnickname{
    width: 9%;
    background: linear-gradient(to left,#EB5D38, #E72D71);
    border-radius: 5px;

}

.cnickname div, .ctitle div, .cdate div{
    width: 100%;
    height: 100%;
    margin-top: 13px;
    overflow: hidden;
}

.ctitle{
    width: 70%;
    background: linear-gradient(to left,#EB5D38, #E72D71);
    border-radius: 5px;
}

.cdate{
    width: 10%;
    float: right;
    background: linear-gradient(to left,#EB5D38, #E72D71);
    border-radius: 5px;
}

.itemImg{
    width: 95px;
    overflow: hidden;
    height: 95px;
    top: 7.5px;
    border-radius: 15%;
    box-shadow: 0 8px 15px rgb(0 0 0 / 5%);
}

.Ntitle{

}

/*CDetail*/
.cdetail{
    width: 1280px;
    height: 1280px;
    margin: 0 auto;
}

.infocard{
    padding: 1.5em 0;
    box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
    display: flex;
    border: 1px solid #e8ebee;
    border-radius: 15px;
}

.dprofimg{
    background-size: 220px 290px;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
}

.profimg{
    width: 220px;
    height: 290px;
    margin-left: 10%;
}

.postcont{
    display: grid;
    align-items: center;
    align-content: space-evenly;
    margin-left: 10%;
}

.contcard{
    margin-top: 5%;
    border-radius: 15px;
    padding: 1.5em 0;
    height: 500px;
    box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
    display: flex;
    border: 1px solid #e8ebee;
}

.post-view-go-list-btn{
    left: 43%;
    margin: 20px auto;
    position: relative;
    padding: 15px 30px;
    border-radius: 35px;
    background: linear-gradient(to left, #EB5D38, #E72D71);
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    transition: 0.25s;
    border-style: none;
}

.post-view-go-list-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.upload{
    display: none;
}

label > img{
    cursor: pointer !important;
}

/*CPosting*/

.postingarea{
    border: 1px solid #777777;
    height: 500px;
}

.ImgArea img{
    width: 200px;
    height: 200px;
}

/*CList 애니메이션*/
.listItem:hover .left_top{height:100%;}
.listItem:hover .right_top{width:100%;}
.listItem:hover .right_bottom{height:100%;}
.listItem:hover .left_bottom{width:100%;}
.left_top{
    position:absolute;
    left:0; top:0;
    width:2px;
    height:0;
    transition:0.5s all;
    background:#EB5D38;
}
.right_top{
    position:absolute;
    right:0; top:0;
    width:0;
    height:2px;
    transition:0.5s all;
    background:linear-gradient(to bottom,#EB5D38 50%, #E72D71);;
}
.right_bottom{
    position:absolute;
    right:0; bottom:0;
    width:2px;
    height:0;
    transition:0.5s all;
    background:#E72D71;;
}
.left_bottom{
    position:absolute;
    left:0; bottom:0;
    width:0px;
    height:2px;
    transition:0.5s all;
    background:linear-gradient(to bottom,#EB5D38 50%, #E72D71);;
}

.listItem:hover {
    margin-top:10px;
    margin-bottom: 10px;
    transition: 0.5s all;
}

.commu > .pagenation{
    position: absolute;
    top: 150px;
}
