/*CEditor*/
.CommunityEditor{
    border: 1px solid gray;
    text-align: center;
    padding: 20px;
}

.CommunityEditor span{
    padding-right: 20px;
}

.CommunityEditor input, textarea{
    margin-bottom: 20px;
    width: 500px;
    padding: 10px;
}

.CommunityEditor textarea{
    height: 150px;
}

.CommunityEditor select{
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

.CommunityEditor button{
    width: 500px;
    padding: 10px;
    cursor: pointer;
}

/* CList */

.DiaryList{
    border: 1px solid gray;
    padding: 20px;
    margin-top: 20px;
}

.DiaryList h2 {
    text-align: center;
}

/* CItem */

.DiaryItem{
    background-color: rgb(240,240,240);
    margin-bottom: 10px;
    padding: 20px;
}


.DiaryItem .info{
    border-bottom: 10x solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.DiaryItem .date{
    color:gray;
}

.DiaryItem .content{
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}

/*CPost*/
.notice{
	width:1280px;
    margin:0 auto;
	
}
.notice .title{
	font-size: 16px;
	font-weight:500;
	margin-bottom:20px;
}

.notice .title .moreBtn{
	float:right;
	font-size: 14px;
	font-weight:400;
}

.notice .title .moreBtn img{
	width:9px;
	height:9px;
}

.notice .noticeList .listItem{
	border-bottom:1px solid #eeeeee;
	padding:11px 0;
	font-size:14px;
	color:#777777;
	display:flex;
	justify-content: space-between;
	cursor:pointer;
}