.CommunityEditor{
    border: 1px solid gray;
    text-align: center;
    padding: 20px;
}

.CommunityEditor span{
    padding-right: 20px;
}

.CommunityEditor input, textarea{
    margin-bottom: 20px;
    width: 500px;
    padding: 10px;
}

.CommunityEditor textarea{
    height: 150px;
}

.CommunityEditor select{
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

.CommunityEditor button{
    width: 500px;
    padding: 10px;
    cursor: pointer;
}

/* List */

.DiaryList{
    border: 1px solid gray;
    padding: 20px;
    margin-top: 20px;
}

.DiaryList h2 {
    text-align: center;
}

/* Item */

.DiaryItem{
    background-color: rgb(240,240,240);
    margin-bottom: 10px;
    padding: 20px;
}


.DiaryItem .info{
    border-bottom: 10x solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.DiaryItem .date{
    color:gray;
}

.DiaryItem .content{
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}