.qna-link{
    text-decoration: none;
}

.qna-link:visited {
    color : black;
  }

.MyPage-Content{
    width: 1280px;
    height: 1080px;
    margin: 0 auto;
    display: flex;
}

.MyPage-Logo{
    margin: 5% 0 10% 40%;
}

.MyPage-Left{
    width: 30%;
    height: 100%;
    box-shadow: 0.1px 1px 5px 0 gray;
}
.MyPage-Right{
    width: 70%;
    height: 100%;
}
/*MyPage-Left 프로필*/

.p-img{
    width: 150px;
    height: 150px;
    margin-left: 30%;
    background-color: #d6d6d6;
    border-radius: 50%;
}

.p-img-local{
    width: 150px;
    height: 150px;
    margin-left: 30%;
}

.s-img {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    right: 33px;
}

.s-img-local {
    position: relative;
    width: 35px;
    height: 35px;
    right: 33px;
}


.Pro-Txt{
    margin: 5%;
    text-align: center;
}

.Pro-Title{
    font-size: 18px;
    font-weight: bold;
}

.Pro-Email{
    font-size: 12px;
    color: #d6d6d6;
}

.MyPage-Menu{
    line-height: 150%;
    margin: 15% 0 0 10%;
    font-weight: bold;
}

.MyPage-Menu p{
    cursor: pointer;
}

.MyPage-footer{
    margin: 50% 0 0 20%;
    font-size: 12px;
}
.MyPage-footer span{
    margin: 0 2% 0 2%;
    cursor: pointer;
}

.Copyright{
    margin-left: -5%;
    color: #d6d6d6;
}

/*MyPage-Profile*/

.Right-Contents{
    margin:25% 0 0 5%;
}

.Menu-Name{
    margin-bottom: 3%;
    font-size: 24px;
    font-weight: bold;
    color: #E72D71;
}

.Name{
    color:#E72D71;
    font-size: 14px;
    font-weight: bold;
}
.MenuBox-props{
    color: #777777;
}

.MenuBox{
    padding: 0.5% 0 0.5% 2%;
    margin-bottom: 3%;
    border: 2px solid #E72D71;
    border-radius: 15px;
}

/*MyPage-Mypic*/
.mypics{
    margin: 5% 0 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pic-div{
    width: 300px;
    height: 400px;
    overflow: hidden;
    box-shadow: 10px 12px 5px #eeeeee;
    margin-bottom: 50px;
}

.pic-cont{
    text-align:center;

}

.pic-img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    bottom:50px;
}

.pic-img > img{
    width: 80px;
    height: 80px;
    border-radius: 75px;
    position: absolute;
    transform: translate(-45%, 6%);
}

.pic-name{
    position: relative;
    bottom:60px;
}

.pic-btns{
    display: flex;
    justify-content: space-around;
}

.pic-download,.pic-edit{
    position: relative;
    padding: 0px 0px;
    border-radius: 100%;
    bottom: 50px;
    background: linear-gradient(to left, #EB5D38, #E72D71);
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    border-style: none;
}

.pic-txt{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 48px;
}

.pic-dtxt,.pic-etxt{

}

.pic-download{
    width: 35px;
    height: 35px;
    border: none;
    background: url("../image/studio_image/download_btn.png") no-repeat;
    background-size: cover;
}

.pic-edit{
    width: 35px;
    height: 35px;
    border: none;
    background: url("../image/studio_image/pencil_btn.png") no-repeat;
    background-size: cover;
}

.pic-download:hover,.pic-edit:hover {
    cursor: pointer;
}

button > p{
    position: relative;
    bottom: 13px;
}

.pic-backimg{
    height: 230px;
 background-image: url(../image/mockup.png);
 background-size: cover;
}

/*페이지네이션*/
.pagenation{
  list-style: none;
  text-align: center;
  border-radius: 3px;
  color: white;
  padding: 1px;
  /* border-top: #E72D71 1px solid;
  border-bottom: #E72D71 1px solid; */
}

.page-item {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    padding: 5px;
    width: 25px;
    background: linear-gradient(to left, #EB5D38, #E72D71);
    margin-left: 5px;
}
.page-item:hover{
    cursor: pointer;
}