.SignUp{
    display: flex;
    width: 1280px;

}
.SU-Content{
    width: 100%;
}
.SU-Logo{
    width:278px;
    height:142px;
    margin: 10% 0 5% 65%;
}
.SU-Input{
    width: 400px;
    margin: 0 60% 0 59%;
}
.Label-txt{
    font-size: 18px;
    margin-bottom: 4%;
    font-weight: bold;
}

.SU-Form{
    margin-bottom:4%
}

.SU-Form input{
    padding-left: 15px;
    width: 411px;
    height: 42px;
    border: solid 0.5px #d4d4d4;
    border-radius: 7px;
    background-color: #f8f8f8;
}

.SU-Form input::placeholder{
    padding: 15px 365px 10px 0;
    color: #979797;
}

.SU-Form input:focus{
    outline: solid 1.5px #979797;
}

.signUpButtonAction{
    width: 411px;
    height: 42px;
    position: relative;
    border-radius: 13px;
    border: #ffffff solid 1px;
    color: #ffffff;
    background: linear-gradient(to left,#EB5D38, #E72D71);
    text-decoration: none;
    transition: 0.25s;
    cursor: pointer;
    margin-top:4%;
    margin-left:2%;
}

.signUpButtonAction:hover {
    letter-spacing: 2px;
    transform: scale(1.05);
    cursor: pointer;
}

.signUpButtonInAction{
    width: 411px;
    height: 42px;
    position: relative;
    border-radius: 13px;
    border: #ffffff solid 1px;
    color: #ffffff;
    background: linear-gradient(to left,#282c34, #ffffff);
    text-decoration: none;
    transition: 0.25s;
    cursor: pointer;
    margin-top:4%;
    margin-left:2%;
}

.signUpButtonInAction:hover {
    letter-spacing: 2px;
    transform: scale(1.05);
    cursor: pointer;
}

.SU-Caution{
    width: 100%;
    margin: 0 50% 0 60%;
    font-size: 13px;
}
.SU-Caution span{
    color:#E72D71;
    font-weight: bold;
}
/*#bbbbbb 테두라*/
/*#f8f8f8 안쪽*/