HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# frontend #
src/main/frontend/src/component/oauth2/env.js
src/main/resources/static/**
src/main/resources/static/static/**
src/main/resources/static/static/js/**

# server #
src/main/resources/application-private.yml
src/main/resources/application-credentials.yml