HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

build/

### IntelliJ IDEA ###
.idea
server/.idea/
server/.idea/vcs.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# frontend #
server/src/main/frontend/node_modules
server/src/main/frontend/src/component/SocialUserConfig.js
server/src/main/frontend/build/

# server #
server/src/main/resources/application-private.yml
server/src/main/resources/application-credentials.yml
server/settings.gradle
server/gradlew
server/gradlew.bat