#middle-view {
    margin : 0 auto;
    width : 1280px
}

#edit-view {
    display : flex;
    float : left;
    width : 1150px;
    height : 700px;
    background-color: #F0F0F0;
    flex-direction: row;
    align-items : center;
    justify-content: center;
}

#edit-canvas {
    background-color: white;
    width: 640px;
    height: 480px;
}

#tool-view {
    display : flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: 129px;
    height: 700px;
    border-right : 1px solid #B5B5B5
}

#tool-view button {
    cursor: pointer;
}

#tool-detail-view {
    width : 1278px;
    height : 200px;
    background-color: white;
    margin : 0 auto;
    border : 1px solid #B5B5B5;
    

}

/* 연필버튼 */

#pencil-btn {
    width : 64px;
    background: url("../../image/studio_image/pencil_btn.png") no-repeat;
    height : 64px;
    border: none;
}

#pencil-btn:hover {
    cursor : pointer;
}

/* 도형버튼 */

#figure-btn {
    width : 64px;
    background: url("../../image/studio_image/figure_btn.png") no-repeat;
    height : 64px;
    border: none;
}
#figure-btn:hover {
    cursor : pointer;
}



#image-btn {
    width : 64px;
    background: url("../../image/studio_image/image_btn.png") no-repeat;
    height : 64px;
    border: none;
}

#text-btn {
    width : 64px;
    background: url("../../image/studio_image/text_btn.png") no-repeat;
    height : 64px;
    border: none;
}

#download-btn {
    width : 64px;
    background: url("../../image/studio_image/download_btn.png") no-repeat;
    height : 64px;
    border: none;
}

#open-btn {
    width : 64px;
    background: url("../../image/studio_image/open_btn.png") no-repeat;
    height : 64px;
    border: none;
}

#share-btn {
    width : 64px;
    background: url("../../image/studio_image/share_btn.png") no-repeat;
    height : 64px;
    border: none;
}