.Footer{
	width:100%;
	height:225px;
	background-color: #eeeeee;
	color:#0d0d0d;
	padding:23px 0;

}

.Footer-wrap{
	margin: 0 auto;
	text-align: -webkit-center;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    height: 100%;
}

.Footer .FooterMenu{
	width: 50%;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.76;
}

.Footer .FooterMenu p{
	display:inline-block;
}

.Footer .FooterMenu p a{
	cursor: pointer;
}

.Footer .FooterMenu p span{
	padding: 0 15px;
}

.Footer .FooterText{
	font-size:16px;
	line-height: 1.69;
	margin-top: 30px;
}

.Footer .FooterText span{
	margin:0 20px;
}

.Footer .FooterLogo{
	float:right;
	width:244px;
	height:56px;
	margin-top:-60px;
	background-size: contain;
}

p > a ,a:visited{
	text-decoration: none;
    color: #9b9999;
    font-size: 14px;
}

.footer-bt{
	color: #9b9999;
}