.topMenu{
	margin: 0 auto;
	width:1280px;
	display: flex;
	border-bottom: solid 1px #F2F2F2;
}

.topMenu .img_logo {
	margin-top: 10px;
}

/*profile수정*/
.GnbMenu div{
	font-family:"Noto Sans KR";
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	color: #191919;
	line-height:5;
	padding-right: 10px;
	cursor: pointer;
	margin-left: 50px;
}

.profile-link{
	left: 72%;
	position: relative;
	top: 13px;
	text-decoration: none;
}

.img_profile {
	border-radius: 50px;
	height: 40px;
	top: 13px;
	width: 40px;
	margin-right: 13px;
}

.profile-content{
	align-items: center;
	display: flex;
}

.Top{
	width:1280px;
	margin: 0 auto;
}

.Top .logo img{
	display:block;
	margin: 24px auto 33px;
	width:174px;
	height:41px;
}

.Sign{
	margin-left: 30%;
}

/*Sidebar*/
.hamburger-menu{
	position: absolute;
	left: 53%;
	margin-left: 552px!important;
}
#menu__toggle {
	opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
	top: 0;
	transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	right: 0 !important;
}
.menu__btn {
	top: 35px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
	position: absolute;
}



.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	background-color: #616161;
	transition-duration: .25s;
}
.menu__btn > span::before {
	content: '';
	top: -8px;
}
.menu__btn > span::after {
	content: '';
	top: 8px;
}
.menu__box {
	display: block;
	position: fixed;
	top: 0;
	right: -100%;
	width: 250px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	background-color: #ECEFF1;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
	transition-duration: .25s;
}
.menu__item {
	display: block;
	padding: 12px 24px;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	transition-duration: .25s;
}
.menu__item:hover {
	background-color: #CFD8DC;
}